
  <table class="table">
    <thead>
      <tr>
        <th scope="col">NO:</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Added By</th>
        <!-- <th scope="col">Actions</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>email@example.com</td>
          <td>
              <!-- <button class="btn btn-sm btn-warning me-2">
              <i class="bi bi-pencil-square"></i> Edit
              </button>
              <button class="btn btn-sm btn-danger">
              <i class="bi bi-trash"></i> Delete
              </button>    -->
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>email@example.com</td>
          <td>
              <!-- <button class="btn btn-sm btn-warning me-2">
              <i class="bi bi-pencil-square"></i> Edit
              </button>
              <button class="btn btn-sm btn-danger">
              <i class="bi bi-trash"></i> Delete
              </button> -->
      </tr>
  
    </tbody>
  </table>
